.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  /* font-size: 1.8rem; */
  font-size: 3vh;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4vh 1.4vh 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5vh 2.5vh;
  background-color: #2767f5;
  color: white;
}

.choice-text {
  padding: 1.5vh;
  width: 100%;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 4vh;
  color: white;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 20%;
  margin-bottom: 20%;
}

.hud-main-text {
  text-align: center;
  color:white;
}

#progressBar {
  width: 20vh;
  height: 4vh;
  border: 0.3vh solid white;
  margin-top: 1.5vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

#progressBarFull {
  height: 3.4vh;
  background-color: white;
  width: 0%;
}

.credit{
  text-align: center;
}

#credit{
  padding: 1vh;
  color: dimgray;
}
.credit-text{
  padding: 1vh;
  font-size: 2vh;
  color: dimgray;
}

.game-grid {
  display: grid;
  grid-template-rows: auto auto auto;
}
.game-row {
  
}